.header {
  width: 100%;
}

.header-center{
  margin: 0 auto;
  max-width: 750px;
  padding: 1rem 1.5rem 0rem 1.5rem;
  display: flex;
  flex-direction: column;
}
.title {
  color: #f8f8f8;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  padding: 0.3rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
}

.nav-item {
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
  transition: all linear 100ms;
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-weight: 600;
  background: linear-gradient(to right, #52c4c4, #52c4c4 50%, #e2e4e4 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}

.nav-item:hover {
  background-position: 0 100%;
}

.active-nav-item {
  background-position: 0 100%;
}
