.hero{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Crab_Nebula.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.l{
  position: relative;
}

.container{
  width:100%;
}

.center {
  margin: 0 auto;
  max-width: 750px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

