.pagination{
  width: 100%;
  margin: auto;
}

.container{
  width: 100%;
  margin: 1em auto; 
  justify-content: center;
  align-items: center;
  display: flex;
}

.page{
  padding: 0.2rem 0.4rem;
  margin: 0.05rem;
  border-radius: 5%;
  text-align: center;
  display: flex;
  background-color: #e4e4e4;
  color: #020202;
  cursor: pointer;
  transition: all linear 100ms;

}

.page:hover{
  color: #242424;
  background-color: #f4f4f4;
  transition: all linear 100ms;

}

.pageNoClick{
  cursor: default;
  color: #666;
}

.pageNoClick:hover{
  color: #666;
  background-color: #e4e4e4;

}


.pageNoClick:hover{
  color: #666;
  background-color: #e4e4e4;
  transition: var(--transition);

}

.pageActive{
  color: #242424;
  background-color: #f4f4f4;
}