.container{
  width: 100%;
  margin: auto;
}

.container h2 {
  text-align: center;
  padding: 1em;
}

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
}


.post a {
    background-color: #f4f4f4;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 1rem;
    transition: all linear 300ms;

  }

.post a:hover {
    background: #e4e4e4;
    transition: all linear 300ms;

  }

.post h2 {
    margin-bottom: 0;
  }

.post p {
    color: #777;
    font-size: 0.8rem;
    font-style: italic;
  }
